@font-face {
  font-family: "Flower";   
  src: local("Flowers-Sunday"),
    url("./fonts/Flowers-Sunday.otf") format("truetype");
}



:root {
  --bodyColor: "#f1f1f1";
}

body{
  background-color: var(--bodyColor);
  margin:0;
  padding:0;
  font-family: 'Sometype Mono', monospace;
  /* font-family: "Roboto", sans-serif; */

}

.homepage-headers{
  text-align: center;
  padding: 30px;
  font-family: "Flower";
  font-size: 36px;
  color:#377E30

}







.material-icons{
  vertical-align: middle;
}

