@font-face {
  font-family: "Flower";   
  src: local("Flowers-Sunday"),
    url("./fonts/Flowers-Sunday.otf") format("truetype");
}

body{
  background-color: #f1f1f1; 
  margin:0;
  padding:0;
  font-family: 'Sometype Mono', monospace;
  /* font-family: "Roboto", sans-serif; */

}

.homepage-headers{
  text-align: center;
  padding: 30px;
  font-family: "Flower";
  font-size: 36px;
  color:#377E30

}

.image-container{
  position: relative;
}

.image-container img{
  display: block;
  width:100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #000000; 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}

.cardContentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center

}

.material-icons{
  vertical-align: middle;
}

