@font-face {
  font-family: "Flower";   
  src: local("Flowers-Sunday"),
    url("./fonts/Flowers-Sunday.otf") format("truetype");
}

@font-face {
  font-family: "Roboto";   
  src: local("RobotoMono"),
    url("./fonts/RobotoMono.ttf") format("truetype");
}

 html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  background-color: #F5F5F5;
}
