.background{
    height:30vh;
    background-color: lightgray;
    width:75vw;
}

.main{
    display: flex;
    flex-direction:row;
    margin: 0 -60px;
    justify-content: center;
    margin-top: -75px;
    color: #f1f1f1
}

.main p{
    font-size:24px;
    text-align: center;
}

.box-elements{
    height: 150px;
    width: 175px;
    border-radius: 5px;
    background-image: linear-gradient(#6DC01E, #BED500 );
    /* background-color:#6DC01E; */
    margin: 0 60px;
}

.icon-display{
    display:flex;
    align-items: center;
    gap:90px;
    margin-left: 10px;

}
