
.container{
    text-align: center;
 
}


.header{
    font-family: Flower;
    font-size:40px;
    margin-top:175px;
    margin-bottom:60px;

}

.plant-list{
    margin-top: 400px;
}


.sort-container{
    display: flex;
    gap: 30px;
    justify-content: right;
    font-size:20px;   
}
.sort-container span{
    margin-right:5px;
}

.featured{
    border: solid 1px black;
    width: 150px;
    border-radius:5px;
}

.button-container {
    display: flex;
    justify-content:center;
    gap:30px
}
.button-container button{
    color:white;
    background-color: #BED500;
    font-family: Flower;
    border: solid 1px #BED500;
    width:130px;

}

.button-container button:hover{
    background-color:#377E30;
    border:  solid 1px #377E30;
}