

.sideimgs{
   height: 600px;
   width:100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

    
}

.sideimgs div{
    display: flex;
    justify-content:center;
    align-items: center;
    height:30%;
    width:70%;
   


} 
.sideimgs img{
    height:90%;
    border-radius:5px;
    object-fit: cover;
    width:80%
}

.main-plant-image{
    height: 600px;
  
    
    
    
}

.main-plant-image div{
    height:100%;
    width:100%;
}

.main-plant-image img{
    height:100%;
    width:90%;
    border-radius:5px;
    object-fit: cover;
}


.plant-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    height:600px ;
  
}




.plant-info div{
    color: #6DC01E;
    display: flex;
    align-items: center;
  
 }

 .plant-info h2{
    color: #377E30;
    font-family: Flower;
  
 }


.plant-info p{
    color: black;
    font-size: 1.2rem;
    margin-left: 1.2rem;
 
}

.plant-info button{
    background-color: #BED500;
    color: black;
    width: 40%;
    height: 40px;
    font-family: Flower;
    border-radius: 3px; 

} 
