.container{
    display:grid;
    grid-template-columns: 20% 30% 50%;
    height: 65vh;
    margin-top:5%;
    background-color: f1f1f1;
 
}


.sideimgs div{
    display: grid;
    justify-content: space-between;
    height: 33%;
    width: 50%;
    margin-left:30%;


}


.mainimg div{
    height: 100%;
}

.plantInfo{
    color: #377E30;
    margin-left: 3rem;
    margin-left:1.5rem;
    margin-right: 20%;
}


.plantInfo div{
    color: #6DC01E;
    display: inline-flex;
    align-items: center;
 }


.plantInfo p{
    color: black;
    line-height: 1.5rem;
    margin-left: 1.5rem;
 
}

.plantInfo button{
    background-color: #BED500;
    width: 50%;
    height: 30px;
    font-family: Flower;
    border-radius: 3px;
    margin-bottom: 0;
  
}








