section{
    display: grid;
    align-items: center;
    justify-content: center; 
}

table{ 
    margin-top:60px;
    width: 90vw;
} 

.thead{
    background-Color: #6DC01E;
    font-size: 18px;
    height: 35px;
    text-align: center;
    color:white;
}

.thead tr td{
    border-radius: 3px;
} 

.tbody tr td{
    padding:15px;
    vertical-align: top;
    line-height:1.2rem;
} 