.main{
    margin-top: 205px;
    margin-left:100px;

}



.noun{
    color: #377E30;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:10px;

}

.header{
    color: black;
    font-size:50px;
    font-weight: bold
}

.pronunciation{
    color: #6DC01E;
    font-size:20px;
    font-weight:bold;
    margin-bottom:15px
}

.definition{
    font-size:30px;
    width:1500px

}