section{
    display: grid;
    align-items: center;
    justify-content: center; 
}

table{ 
    margin-top:60px;
    width: 85vw;
} 

.thead{
    background-Color: #6DC01E;
    font-size: 18px;
    height: 34px;
    text-align: center;
    color:white;
    width:300px;
}

.thead tr td{
    border-radius: 3px;
    width: 350px;
} 

.tbody tr td{
    padding:15px;
    vertical-align: top;
    line-height:1.2rem;
} 

.thead tr td:hover{
    background-color: #377E30;
}