.container{
    display:flex;
    justify-content: space-between;

    height:350px;
    border: solid 2px #377E30;
    border-radius:10px;
    line-height: 35px;
    padding:20px;
    margin-bottom:60px;
    overflow:auto;
}

.container div{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align:center;
    align-items: center;
    


}

.comment{
    height:200px;
}

.name{
    margin-top:auto;
    margin-bottom: 0;
    font-style:italic;
}


